name: Build and Publish
on:
 workflow_dispatch:
#  pull_request:
#    types: [opened, synchronize, reopened]
#  push:
#     branches:
#       - main
jobs:
  build_docker_image:
    name: Build docker image and check any error and publish build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Docker - Login
        uses: docker/login-action@v2
        with:
          logout: true
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}
      - name: Docker build and push
        uses: docker/build-push-action@v4
        with:
          file: Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: sanbud/votercrm_frontend:latest
      - name: Download all workflow run artifacts
        uses: actions/download-artifact@v3